html{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: rgb(0, 0, 0);
}
#zegar {
    position: absolute;
            top: 10px;
            right: 10px;
            font-size: 30px;
            background-color: rgb(0, 0, 0);
            color: #ffffff;
            
}
#baner{
    height: 20%;
    border-bottom: 3px solid rgb(0, 0, 0);
    background-color: bisque;
    text-align: center;
    padding-top: 25px;
    background-image: url(naglowek.jpg);
    text-shadow: 1px 0 #fff, -2px 0 #fff, 0 1px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}


#lewy{
    width: 20%;
    float: left;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    height: 60%;
}
#lewy p{
    border: 1px solid black;
    background-color: bisque;
    margin-top: 0px;
}
#lewy h3{
    color: white;
}
#stopka{
    width: 100%;
    font-size: 16px;
    background-color: bisque;
    float: left;
    text-align: center;
    height: 20%;
}
#glowny{
    background-image: url(tlo.jpg);
    width: 79.4%;
    height: 60%;
    float: left;
    position: relative;
}
#glowny p,h2{
    text-shadow: 1px 0 #fff, -2px 0 #fff, 0 1px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    font-size: 22px;

}